body{
	background-color: #000000;
}
.top-text{
	color: #FFD100;
}
.intro-text{
	color: #FFD100;
}
.signup-button{
    position: relative;

	background-color: #FFD100;
}
.signup-button:hover{
    
	background-color: #ffff00;
}
.login-button {
    position: relative;

	background-color: #FFD100;
}
.login-button:hover{
	background-color: #ffff00;
}