body{
	background-color:#000000;
}

.navbar{
	background-color: #FFD100;
}

.login-form{
	background-color: #FFD100;
	position: relative;
	bottom:-100px;
	left:400px;
	text-align: center;
}
.login-form h1, label{
	color:black;
}
.login-form input{
	color: black;
}