<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/base.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	{% block title %}<title>Home</title> {% endblock%}
</head>

<body>
	<div class="navbar w3-col l12 m12 s12 w3-bar w3-large">
  		<a href= "{{url_for('home')}}"><button class="navbar-items w3-hover-black w3-bar-item w3-button">Home</button></a>
  		<a href="{{url_for('projects')}}"><button class="navbar-items w3-hover-black w3-bar-item w3-button">View Projects</button></a>
  		<a href="{{url_for('submit')}}"><button class="navbar-items w3-hover-black w3-bar-item w3-button">Submit a Project</button></a>
		<a href="{{url_for('login')}}"><button class="navbar-items w3-hover-black w3-bar-item w3-button">Login</button></a>
		<a href="{{url_for('signup')}}"><button class="navbar-items w3-hover-black w3-bar-item w3-button">Signup</button></a>
	</div>
	{% with messages=get_flashed_messages()%}
	{% if messages %}
		{%for msg in messages%}
			<p>{{msg}}</p>
		{% endfor %}
	{% endif %}
	{% endwith %}	

	{% block content %}

	{% endblock %}
</body>

</html>