{% extends'base.html' %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'home.css')}}">

<h1 align="center" class="top-text w3-padding-64">Welcome to Devcasr.</h1>

<h3 class="intro-text w3-padding-64" align="center"> Devcasr. is the No.1 website to share your completed projects, from websites to mobile apps, and from modules to Machine Learning 
	networks, this is the place for you.
</h3>
<div class="w3-container w3-padding-32">
	<a class="signup-button w3-col s12 m10 l5 w3-btn w3-margin-left  w3-margin-top w3-round-large w3-xxlarge" align"center">Signup</a>
	<a class="login-button w3-col s12 m10 l5 w3-btn w3-margin-left  w3-margin-top w3-round-large w3-xxlarge" align="center">Login</a>
</div>
{% endblock %}